# Casement Aerordrome Weather 1945 - Present (PDA Project 2019)

## Investigation of the dataset
I will simulate a dataset, sourced from Met Eireann [1]. This dataset will be investigated and then simulated.

In [4]:
# Import pandas and load the dataset
import pandas as pd
df = pd.read_csv('mly3723.csv',skiprows=18) # read in the csv and skip the non-data explanatory rows.
df.describe()

,year,month,meant,maxtp,mintp,mnmax,mnmin,rain,gmin,sun
count,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000
mean,1991.210526,6.473684,9.466617,18.221203,-0.366165,13.234586,5.701504,61.773835,-3.856842,113.964662
std,16.010658,3.457093,3.915470,4.763040,4.318500,4.452386,3.459947,33.833433,4.528277,52.220373
min,1964.000000,1.000000,-0.500000,5.400000,-15.700000,3.300000,-4.200000,1.700000,-17.100000,22.100000
25%,1977.000000,3.000000,6.100000,13.900000,-3.700000,9.400000,2.800000,37.100000,-7.400000,67.900000
50%,1991.000000,6.000000,8.700000,18.100000,-0.900000,12.800000,5.200000,56.800000,-4.200000,110.900000
75%,2005.000000,9.000000,13.100000,22.400000,3.300000,17.200000,8.800000,79.500000,-0.200000,151.100000
max,2019.000000,12.000000,17.800000,31.000000,9.500000,23.500000,12.900000,206.300000,8.200000,256.500000

The dataset contains the following variables :

year 
month
rain - Precipitation Amount (mm)
meant - Mean Air Temperature (C)
maxtp - Maximum Air Temperature (C)
mintp - Minimum Air Temperature (C)
mnmax - Mean Maximum Temperature (C)
mnmin - Mean Minimum Temperature (C)
gmin - Grass Minimum Temperature (C)
wdsp - Mean Wind Speed (knot)
mxgt - Highest Gust (knot)
sun - Sunshine duration hours

***
## References
[1] Casement Aerodrome Monthly Data 1944 - Present :  https://cli.fusio.net/cli/climate_data/webdata/mly3723.zip